/*
 * TagArea — Binatti UI
 */

.tag {
  --tag-border:  var(--fg-muted);
  --tag-radius:  var(--radius-full);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--tag-border);
  border-radius: var(--tag-radius);
  padding: var(--space-1) var(--space-2); /* 4px 8px */
  flex-shrink: 0;
}

.label {
  --tag-color: var(--fg-default);

  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  font-size: var(--text-xs-size);
  line-height: var(--text-xxs-lh);
  letter-spacing: var(--text-xxs-tracking);
  color: var(--tag-color);
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
}
