/*
 * TrilhasDestaqueSection — Binatti UI
 */

.section {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: calc(-1 * var(--space-40));
  margin-bottom: calc(-1 * var(--space-40));
}

.container {
  max-width: 88rem;
  width: 100%;
  padding-inline: var(--breakpoints-section-padding-2);
}
